/*
*= require_tree .
*= require_self
*/ 
 .pagination {
  justify-content: center;
  margin-bottom: 25px;
}
 
 .pagination>li>a {          
  border: none;
  color: #0C244A;
}

.pagination>.active>a {     
  background: #F0ADAD;
  border-radius: 15px;
}

.pagination>li>a:hover {        
  border-radius: 15px;
}

